.nombre a{
    text-decoration: none;
    color:  #003053;
}

.nombre .titulo-portada{
    padding: 10px;
    text-decoration: none;
    color:  rgb(245, 245, 245);
    font-family: 'Teko', sans-serif;
}

.nombre .title{
    background-image: url(https://i.postimg.cc/k47Lsf3B/fondo-jpg-Mesa-de-trabajo-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nombre
{
    width: 100%;
    text-align: center;
    background-color: white;
}

.busqueda{
    margin-top: 2%;
}

.buscar{
    background-color: white;
    color: #184463;
    width: 20vw;
    height: 2rem;
    border: 1px solid #184463;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display:none;
}

#buscarAutorTituloIsbn{
    background-color:white;
    color: black;
    width: 25vw;
    height: 2rem;
    border-radius: 5px;
    display: inline-block;
}

.flip-card {
    background-color: transparent;
    width: 260px;
    height: 350px;
    perspective: 1000px; 
    margin-bottom: 50px;
    margin-right: 40px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 15px;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
    padding: 25px;
    background: linear-gradient(to bottom, rgb(35, 160, 255) 2%,
              rgb(7, 29, 63));
  }
.contenedor-detalles {
    bottom: 0;
    height: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .line-bottom {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    border: none;
    border-bottom: 2px solid white;
    padding-bottom: 15px;
  }
  .link{
    position: absolute;
    align-items: center;
    bottom: 7px;
  }
  .logo{
    position: absolute;
    align-items: center;
    bottom: 50px;
  }
  .flip-card-back .link a {
    color: #f3f3f3;
}
  .flip-card-back .line-top{
    bottom: 0;
    left: 50%;
    align-items: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
  }
#app{
    padding: 20px;
	width: 100%;
	flex-wrap: wrap;
	display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
a{
	text-decoration: none;
	color: white;
}
.contenedor{
    display: flex;
}
.cardDetalle {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: auto;
    margin-right: 20px;
	margin-bottom: 50px;
	border-radius: 15px;
	box-shadow: 7px 6px 6px rgb(111, 109, 109);
    background-color: #184463;
}

.dividir{
    display: flex;
    height: 100%;
    padding: 40px;
}

.imagen{
    width: 100%;
    height: 100%;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.imagenDetalle{
    width: 100%;
    height: 100%;
}
#portada{
    width: 100%;
    height: auto;
}

.detallesLibro{
    width: 90%;
    margin: 25px 25px;
    padding-left: 25px;
    text-align: center;
    line-height: 25px;
}

.titulo{
    font-family: 'Vazirmatn', sans-serif;
}


.buton-card{
    height: 20%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
} 

.modalAlquiler, .modalReserva {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 90px;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
  
.modal-content {
    background-color:#003053;
    color: white;
    font-size: 20px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 30%;
}

.accept, .acceptt{
    width: 150px;
    background-color: #007bff;
    color: white;
    border-radius: 9px;
    border-style: none;
}

.accept:hover, .acceptt:hover{
    background-color: rgb(10, 72, 138);
}

.cancel, .cancell{
    width: 150px;
    background-color: #ff0037;
    color: white;
    border-radius: 9px;
    border-style: none;
}

.cancel:hover, .cancell:hover{
    background-color: rgb(61, 4, 4);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.go-top-container i {
    position: absolute;
    font-size: 1.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: .2s;
  }
.go-top-button {
    width: 0rem;
    height: 1rem;
    line-height: 1rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: -1;
    margin-bottom: 5%;
}
.go-top-button i {
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: .2s;
    z-index: 1;
  }

.show{
    z-index:10;
}
.show .go-top-button{
    animation: popup .8s ease-in-out;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 11;
}
@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 4rem;
        height: 4rem;
    }
    100%{
        width: 3.6rem;
        height: 3.6rem;
    }
}
.boton:hover:before {
    width: 100%;
}
.boton {
    color: #fff !important;
    font-size: 12px;
    font-weight: 1000;
    border-radius: 5px;
    padding: 0.35em 0.6em; 
    background: #097ad7;;;
    border: 2px solid;
    position: relative;
    width: 80px;
    margin: 0 auto;
}
.boton:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(21, 80, 122, 0.401);
    transition: all 1s ease;
}
.boton:hover:before {
    width: 100%;
}
.form-control, .boton {
    display: inline-block;
    vertical-align: middle;
}
.item-agotado {
    display: inline-block;
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 10px;
}
.span{
    color: black;
    display: block;
}
#alquilar, #reservar{
    display: inline;
}
.boton-detalle:before {
    width: 100%;
  }
      
  .boton-detalle {
    color: #fff !important;
    font-size: 14px;
    font-weight: 1000;
    padding: 0.25em 0.6em; 
    background: #035e26;
    position: relative;
    width: 120px;
    height: 30px;
    margin: 0 auto;
  }
  .boton-detalle:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  } 
  .boton-detalle:hover:before {
    height: 100%;
  }
