.div-footer{
    width: 100%;
    background-color: #0d1f2f;
}
.div-footer .div-informacion{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
    padding: 10px;
}
.div-footer .div-informacion .divisor h2{
    color: #fff;
    margin-bottom: 10px;
    font-size: 20px;
}
.div-footer .div-informacion .contacto a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    margin-right: 10px;
}

.div-footer .div-derechos{
    background-color: #0d1824;
    padding: 5px;
    text-align: center;
    color: #fff;
    font-size: 17px;
}
