.contenedor{
    display: flex;
}

.nombre
{
    width: 100%;
    text-align: center;
    background-color: white;
}

.nombre .title{
    padding: 40px;
}

a{
	text-decoration: none;
	color: white;
}

.alquileres{
    color: #003053;
}

table thead{
    
	background-color: #003053;
	color: white;
}

.container-fluid a{
    text-decoration: none;
    color:  #003053;
}
.go-top-container i {
    position: absolute;
    font-size: 1.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: .2s;
  }
.go-top-button {
    width: 0rem;
    height: 1rem;
    line-height: 1rem;
    background: #2071b2;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: -1;
    margin-bottom: 5%;
}
.go-top-button i {
    position: absolute;
    font-size: 2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    transition: .2s;
    z-index: 1;
  }

.show{
    z-index:10;
}
.show .go-top-button{
    animation: popup .8s ease-in-out;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 11;
}
@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 4rem;
        height: 4rem;
    }
    100%{
        width: 3.6rem;
        height: 3.6rem;
    }
}