@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');
*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color:#E0E0E0; 
}

.menu-dashboard {
    max-width: 100px;
    min-height: 100vh;
    background: #003053; 
    padding: 10px;
    transition: max-width .3s ease;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .usuario {
    display: flex;
    align-items: center;
}

.top-menu .usuario img {
    width: 50px;
    transition: width .3s ease;
}

.top-menu .usuario span {
    font-size: 15px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 25px;
}

.menu .enlace {
    width: 100%;
    padding: 25px 0 15px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px;
}

.menu .enlace:hover {
    background: #184463;
}

.menu .enlace i { 
    margin-right: 1rem;
    font-size: 40px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 200px; 
} 

.menu-dashboard.open .top-menu .usuario span {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .menu .enlace {
    padding: 25px 30px ;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

.enlace a:hover{
    color: white;
}

.nombre a{
    padding: 10px;
    text-decoration: none;
    color:  #003053;
}

.nombre .title{
    padding: 30px;
}

.nombre
{
    width: 100%;
    text-align: center;
    background-color: white;
}

.buscar{
    background-color: white;
    color: #184463;
    width: 20vw;
    height: 2rem;
    border: 1px solid #184463;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    display:none;
}

#buscarAutorTituloIsbn{
    background-color:white;
    color: black;
    width: 25vw;
    height: 2rem;
    border-radius: 5px;
    display: inline-block;
}

footer {
    background-color: #F5F5F5;
    padding: 20px 0;
  }
  
  .fa {
    font-size: 24px;
    color: #333;
    transition: all 0.2s ease-in-out;
  }
  
  .fa:hover {
    color: #007bff;
    cursor: pointer;
  }

.flip-card {
    background-color: transparent;
    width: 260px;
    height: 350px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-bottom: 50px;
    margin-right: 40px;
}
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 15px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    padding: 25px;
  }

.line{
    width: 80%;
    border: none;
    border-bottom: 2px solid white;
    margin-left: auto;
    margin-right: auto;

}

.flip-card-back .link a {
    color: #f3f3f3;
}

#app{
    padding: 20px;
	width: 100%;
	flex-wrap: wrap;
	display: flex;
    justify-content: space-around;
}

a{
	text-decoration: none;
	color: white;
}

.contenedor{
    display: flex;
}

.cardDetalle {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: auto;
    margin-right: 20px;
	margin-bottom: 50px;
	border-radius: 15px;
	box-shadow: 7px 6px 6px rgb(111, 109, 109);
    background-color: #184463;
}

.dividir{
    display: flex;
    height: 100%;
    padding: 40px;
}

.imagen{
    width: 100%;
    height: 100%;
}

.imagen img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.imagenDetalle{
    width: 100%;
    height: 100%;
}
#portada{
    width: 100%;
    height: auto;
}

.detallesLibro{
    width: 90%;
    margin: 25px 25px;
    padding-left: 25px;
    text-align: center;
    line-height: 25px;
}

.titulo{
    font-family: 'Vazirmatn', sans-serif;
}


.buton-card{
    height: 20%;
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
} 

.boton-inicio{
    text-align: left;
    justify-content: left;
    padding: 10px;
}

.modalAlquiler, .modalReserva {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 90px;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
  
.modal-content {
    background-color:#003053;
    color: white;
    font-size: 20px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 30%;
}

.accept, .acceptt{
    width: 150px;
    background-color: #007bff;
    color: white;
    border-radius: 9px;
    border-style: none;
}

.accept:hover, .acceptt:hover{
    background-color: rgb(10, 72, 138);
}

.cancel, .cancell{
    width: 150px;
    background-color: #ff0037;
    color: white;
    border-radius: 9px;
    border-style: none;
}

.cancel:hover, .cancell:hover{
    background-color: rgb(61, 4, 4);
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}