@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    color:  #E0E0E0;
}

.menu-dashboard {
    max-width: 100px;
    min-height: 100vh;
    background: #003053;
    padding: 10px;
    transition: max-width .3s ease;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu .usuario {
    display: flex;
    align-items: center;
}

.top-menu .usuario img {
    width: 50px;
    transition: width .3s ease;
}

.top-menu .usuario span {
    font-size: 15px;
    margin-left: 20px;
    display: none;
}

.top-menu .toggle {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.top-menu .toggle i {
    font-size: 25px;
}

.menu .enlace {
    width: 100%;
    padding: 25px 0 15px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 15px; 
}

.menu .enlace:hover {
    background: #184463;
}

.menu .enlace i { 
    margin-right: 1rem;
    font-size: 40px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open {
    max-width: 200px;
}

.menu-dashboard.open .top-menu .usuario span {
    display: block;
}

.menu-dashboard.open .menu .enlace {
    width: auto;
}

.menu-dashboard.open .menu .enlace {
    padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
    opacity: 1;
}

.enlace a:hover{
    color: white;
}


.contenedor{
    display: flex;
}

.nombre
{
    width: 100%;
    text-align: center;
    background-color: white;
}

.nombre .title{
    padding: 40px;
}

a{
	text-decoration: none;
	color: white;
}

.alquileres{
    color: #003053;
}

table thead{
    
	background-color: #003053;
	color: white;
}

.container-fluid a{
    text-decoration: none;
    color:  #003053;
}
.boton-inicio{
    text-align: left;
    justify-content: left;
    padding: 10px;
}

